.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: #2f3136;
  color: #fff;
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar h2 {
  padding: 16px;
  margin: 0 0 0 16px; /* Added left margin */
  font-size: 25px;
  text-transform: uppercase;
  color: #8e9297;
}

/* Styling for channel names */
.channel-item {
  padding: 8px 16px 8px 32px; /* Increased left padding */
  font-weight: bold; /* Made channel names bold */
  font-size: 16px; /* Increased font size */
  cursor: pointer;
}

.channel-item:hover {
  background-color: rgb(255 255 255 / 10%);
}

.channel-item.active {
  background-color: rgb(255 255 255 / 20%);
}

.user-info {
  padding: 16px;
  background-color: #292b2f;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.avatar-container {
  position: relative;
  margin-right: 12px;
}

.status-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #292b2f;
}

.username {
  font-weight: bold;
}

.status-indicator.online {
  background-color: #43b581;
}

.status-indicator.offline {
  background-color: #747f8d;
}

.user-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Added gap between buttons */
}

.disconnect-button,
.leave-button {
  flex: 1; /* Make buttons take equal width */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.disconnect-button {
  background-color: #7289da;
  color: #fff;
}

.disconnect-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disconnect-button:hover:not(:disabled) {
  background-color: #677bc4;
}

.leave-button {
  background-color: #f04747;
  color: #fff;
}

.leave-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.leave-button:hover:not(:disabled) {
  background-color: #d84040;
}
